/* PAGINAS - BACKGROUND FOTO DE CAPA DA SEÇÃO*/
#header_design{
	background: url('../imagens/fotos/design/_capa/design.jpg');
	border-bottom: 1px solid #1a1a1a;
}



/* PAGINAS - LISTAS DE PROJETOS*/
header.categoria_header{
	width: 100%;
    height: 450px;
    overflow: hidden;
	position:relative;
}

header.categoria_header .thumbnail-secao{
	width: 220px;
    height: 220px;
    position: relative;
    left: 0;
    right: 0;
    margin: 50px auto;
    border-radius: 100%;
    overflow: hidden;
	transition: .2s ease-in-out;
	border: 6px solid #1a1a1a;
}

.thumbnail-secao:hover{
	transform: scale(1.05);
	border: 6px solid #ffdd00;
}

.thumbnail-secao img{
	width: 120px;
    height: 120px;
    position: absolute;
    left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
}

header.categoria_header h1{
	text-align: center;
    top: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
	font-size:4em;
	z-index: 1;
	-webkit-transition: .3s;
	transition-property: top, text-shadow;
	perspective: 100px;
}

header.categoria_header a{
	position: absolute;
	right: 2em;
	top: 1em;
	z-index:3;
}



section.lista_projetos{
	width: 100%;
	height: 400px;
	margin-top: 1em;
}

section.lista_projetos p{
	line-height: 20px;
    font-size: 1.2em;
}


section.lista_projetos div:nth-child(1){
	overflow: hidden;
	width: 60%;
	height: 100%;
	float:left;
	border-top: 1px solid #1a1a1a;
	border-bottom: 1px solid #1a1a1a;
}

section.lista_projetos div:nth-child(1) img{
	width: 100%;
	perspective: 1px;
	transition: transform .2s;
}

section.lista_projetos div:nth-child(2){
	width: calc(40% - 4em - 2px);
	height: calc(100% - 4em);
	padding: 2em;
	float:left;
	border: 1px solid #1a1a1a;
	position: relative;
	border-right: 0;
}

section.lista_projetos div:nth-child(2) a{
	position: absolute;
	top: 80%;
	width: 70px;
}

section.lista_projetos:hover div:nth-child(1) img{
	transform: translateY(-15px);
}
