/* PAGINA DOS PROJETOS - PRINCIPAL*/
figure{
	width:100%;
	height: auto;
	position: absolute;
	box-sizing: border-box;
}

figure figcaption{
	width:100%;
	height:30%;
	position: relative;
	background-color:#fff;
	border-top:1px solid #1a1a1a;
	box-sizing: border-box;
	top: -5px;
}

.slide-projetos{
	width: 100%;
	position: relative;
	overflow: hidden;
}

figure figcaption div{
	position: relative;
	padding: 5% 10%;
	top: 2em;
	left: 0; right: 0;
	margin: auto;
}

figure figcaption h1{
	font-weight: bold;
}

figure figcaption p{
	line-height: 25px;
}

figure ul li img{
	width: 100%;
}

figure div#controladores-img{
	width:75px;
	position: relative;
	left: 0; right: 0;
    margin: 0 auto;
    z-index: 2;
}

figure div#controladores-img p{
	display: inline-block;
	padding: .2em;
	position: relative;
	margin:1em 0;
}

#slide-cabecalho li{
	width: 100%;
    display: inline-block;
    float: left;
    position: absolute;
    left: 0;
	opacity: 0;
	transition: 1s ease-out;
	transition-property: left, opacity; 
}

#slide-cabecalho li.ativo{
	opacity: 1;
    position: relative;
}

/* DESKTOP VERSION */
@media screen and (min-width: 1200px){

	/*PAGINA DE PROJETOS*/
	figure div#controladores-img{
		width: 75px;
	    height: 55px;
	    position: absolute;
	    bottom: 5%;
	    left:10%;
	    right:initial;
	    margin: auto;
	    z-index: 2;
	}
}