/* REGULANDO ALTURA DO MENU */
@media screen and (min-height:800px){
	/* BARRA DE MENUS */
	section#navbar img{
		width: 40%;
	}

	nav#menu_categorias h1{
		font-size: 2.8em;
		margin-bottom: 1.2em;
	}
	
	nav#menu_categorias{
		top:1em;
	}
	
	section#navbar ul li a{
		font-size: 1.2em;
	}
	
	/* TITULO E BOTAO DO SLIDE */
	section#content header#title-slide{
		top:80%;
	}
}





/* DESKTOP VERSION */
@media screen and (min-width: 1200px){
	/* MENU PRINCIPAL  --------------------------------- */
	section#navbar{
		width:320px;
		height:100%;
		position: fixed;
		float:left;
		display: inline-block;
		left:0;
	}

	section#navbar:before{
		content: '';
		width:320px;
		height:100%;
		position: fixed;
	}
	
	section#navbar img{
		width: 60%;
		cursor: pointer;

		transition: .2s ease-in-out;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;
	}

	nav#menu_categorias{
		width:55%;
		height:305px;
		position: absolute;
		left: 0; right: 0;
		margin:0 auto;
	}
	
	section#navbar footer{
		width: 320px;
		position: fixed;
	}
	
	/* MENU MOBILE */
	.cabecalho-mobile{
		display: none;
		visibility: hidden;
	}

	section#navbar footer{
		display: block;
	}


	/* MENU PRINCIPAL  --------------------------------- FINAL*/



	/* CONTEUDO PRINCIPAL  -----------------------------------*/
	section#content{
		width:calc(100% - 320px);
		height:100%;
		position: fixed;
		left:320px;
		overflow-y:auto;
		overflow-x: hidden;
	}


	section#content header#title-slide{
		width: 100%;
		position: absolute;
		top:65%;
		left:0;
		padding: none;
		box-sizing: initial;
	}

	section#content div#controladores{
		width: 90%;
		position: absolute;
		top: 60%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	/* CONTEUDO PRINCIPAL  ---------------------------------FINAL*/

	/* LISTA DE PROJETOS  -----------------------------------*/
	section.lista_projetos{
		height: 400px;
		margin-top: 1em;
	}

	section.lista_projetos div:nth-child(1){
		overflow: hidden;
		width: 60%;
		height: 100%;
		float:left;
		border-top: 1px solid #1a1a1a;
		border-bottom: 1px solid #1a1a1a;
	}

	section.lista_projetos div:nth-child(2){
		width: calc(40% - 4em - 2px);
		height: calc(100% - 4em);
		float:left;
		position: relative;
	}

	section.lista_projetos div:nth-child(2) a{
		position: absolute;
		top: 80%;
		width: 70px;
    	margin-top: 0;
	}


	section.lista_projetos div:nth-child(1){
		border-top: 1px solid #1a1a1a;
		border-bottom: 1px solid #1a1a1a;
	}

	section.lista_projetos div:nth-child(2){
		padding: 2em;
		border: 1px solid #1a1a1a;
		border-right: 0;
	}

	section.lista_projetos:hover div:nth-child(1) img{
		transform: translateY(-15px);
	}
}